@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@function profile-img-gradient() {
  @return conic-gradient(
        from var(--angle), 
        $primary-color 0%, 
        darken($primary-color, 50%) 25%, 
        darken($primary-color, 25%) 40%, 
        $white 50%, 
        darken($primary-color, 25%) 60%, 
        darken($primary-color, 50%) 75%, 
        $primary-color 100%
    );
}

@function overview-card-gradient() {
  @return conic-gradient(
        from var(--angle), 
        #3f5bfb 0%,
        #fc46f3 25%,
        #9546fc 50%,
        #ffb0ff 75%,
        #ffc3ff 85%,
        #ffffff 90%,
        #c9c3ff 95%,
        #3f5bfb 100%,
    );
}

@mixin profile-img-border() {
  background: profile-img-gradient();
  background-repeat: no-repeat;
  animation: spin-gradient 2s linear 1;
}

@mixin overview-card-border() {
  background: linear-gradient($white, $white) padding-box, overview-card-gradient() border-box;
  background-repeat: no-repeat;
  border-width: 3px;
  animation: spin-gradient 3s linear 2;
}

@keyframes spin-gradient {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}